* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.title-1 {
    color: var(--black);
    font-size: 45px;
    font-weight: 800;
}

.title-2 {
    font-size: 35px;
    font-weight: 700;
    text-align: center;
}

.text-primary {
    color: var(--orange);
}

.btn-primary {
    color: #fff;
    border: none;
    height: 64px;
    font-size: 20px;
    font-weight: 700;
    padding: 18px 35px;
    border-radius: 5px;
    background: var(--orange);
}

.btn-secondary {
    color: var(--orange);
    border-color: var(--orange);
    background: transparent;
    height: 64px;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
    border-radius: 5px;
}

@media screen and (min-width: 1600px) {
    .container {
        margin-left: 230px;
        margin-right: 230px;
    }

    .banner-text {
        margin-right: 163px;
    }

    /* !!! .banner-text is explicitly just for Header BANNER Texts*/
}

:root {
    --orange: #FD6E0A;
    --black: #181818;
    --black-light: #474747;
    --black-transparent: #757575;
    --background-primary: #FFF8F3;
}

/* Header NAV Starts Here */
nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 46px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style-type: none;
    margin-left: 50px;
    font-size: 20px;
}

/* Header BANNER Starts Here */
header {
    background: var(--background-primary);
    padding-top: 51px;
}

.header-background {
    background-image: url(images/header_bg.png), url(images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, 5% 0%;
    background-size: auto, 5.9%;
}

.banner {
    display: flex;
    align-items: center;
}

.banner h3 {
    color: var(--black-light);
    font-weight: 600;
    font-size: 45px;
}

.banner h1 {
    color: var(--black);
    font-weight: 700;
    font-size: 85px;
    margin-top: 5px;
    margin-bottom: 20px;
}

.banner p {
    color: var(--black-transparent);
    font-size: 18px;
    margin-bottom: 30px;
}

/* MAIN ABOUT Starts Here */
.about {
    padding: 131px 157px;
    background: var(--background-primary);
    margin-top: 130px;
}

.about p {
    color: var(--black-transparent);
    font-size: 18px;
    text-align: center;
    margin: 30px 0;
}

.about table {
    margin: 0 auto;
    text-align: center;
}

.about table th,
.about table td {
    min-width: 161px;
}

.about table td {
    color: var(--black-transparent);
}